@tailwind base;
@tailwind components;
@tailwind utilities;

.edit-scrollbar {
  -ms-overflow-style: -ms-autohiding-scrollbar;    /* IE, Edge 対応 */
  scrollbar-width: thin;       /* Firefox 対応 */
}

.edit-scrollbar::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  width: 4px;
  height: 8px;
  background-color: #555; /* or add it to the track */
}

.edit-scrollbar::-webkit-scrollbar-thumb {  /* Chrome, Safari 対応 */
  background: #ddd;
}

.url-height {
  max-height: 80vh;
}

.category-height {
  max-height: 85vh;
}

@media (min-width: 640px) {
  .url-height {
    max-height: 85vh;
  }
  .category-height {
    max-height: 75vh;
  }
}

@media (min-width: 1024px) {
  .url-height {
    max-height: 90vh;
  }
  .category-height {
    max-height: 70vh;
  }
}
